.upload-item {
    width: 50%;
    margin: auto;

    @media (max-width: '991px') {
        width: 100%
    }


    @media (min-width: 991px) and (max-width:1280px) {
        width: 80%;
        padding-bottom: 30px;
    }
}

.download-item {
    color: #252525;
    text-align: center;
    font-size: 18x;
    margin-top: 40px;

    display: flex;
    justify-content: center;

    a {
        color: #252525;

        &:hover {
            color: #22c55e;
        }
    }
}